server:
  port: 8999

spring:
  application:
    name: API-Gateway
  cloud:
    gateway:
      routes:
        - id:  UserManagement
          uri: http://localhost:9090
          predicates:
            - Path= /users/me/** , /auth/**
